/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Reset & Smooth Scroll */
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-dark text-white font-sans antialiased overflow-x-hidden;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-mono font-bold;
  }
}